@import "../../../assets/styles/variable";

#budget {
  min-height: 38rem;
  max-height: $max_height;

  .info_desktop {
    height: 100%;
    background: $sub_accent_color;
    border-radius: 30px;
    margin-right: 1rem;

    .sub_title {
      text-align: center;
      max-width: 75%;
      color: $accent_color;
      margin-bottom: 2rem;
    }

    .t3 {
      color: $accent_color;
      text-align: start;
    }
  }

  .budget_calculator {
    background: $accent_color;
    border-radius: 30px;
    padding: 0 6rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 1rem;

    .title {
      color: $light_text;
      text-align: center;
      font-weight: normal;
    }

    .buttons {
      margin-bottom: 1.5rem;
      display: grid;
      width: 100%;
      grid-template-columns: 30% 30% 30%;
      gap: 5%;
      position: relative;

      .budget_button {
        display: inline-block;
        font-size: 1rem;
        min-width: 100%;
      }

      .budget_button input[type=radio] {
        display: none;
      }

      .budget_button label {
        color: $light_text;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        min-width: 100%;
        padding: 0.75rem 0;
        border: 2px solid $die_color;
        background: transparent;
        border-radius: 30px;
        user-select: none;
        transition: 0.1s ease-in-out;
      }

      .budget_button input[type=radio]:checked + label {
        background: $die_color;
        pointer-events: none;
      }

      .budget_button input[type=radio]:hover + label {
        background: #A750E3;
      }
    }

    .price {
      display: flex;
      gap: 2rem;

      .text {
        gap: 1rem;

        .number {
          text-align: center;
          color: $light_text;
          font-size: 2.5rem;

          .per {
            font-size: 0.9rem;
            color: $comment_color;
            font-weight: 500;
          }
        }
      }

      .first_month {
        margin-top: 1.5rem;
        text-align: center;
        color: $light_text;
      }

      .pipe {
        height: 7rem;
        width: 2px;
        background: $die_color;

      }
    }

    button {
      margin-top: 3rem;
      width: 12rem;
      height: 3.5rem;
      background: $light_text;
      border-radius: 102px;
      color: $accent_color;
      border: none;
      cursor: pointer;
    }

    .sub_title {
      color: $die_color;
      text-align: center;
    }
  }
}

@media (min-width: 800px) and (max-width: 1060px) {
  #budget {
    min-height: 34rem;

    .t3 {
      font-size: 2rem;
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  #budget {
    grid-template-columns: 40% 60% !important;

    .info_desktop {
      background: transparent;

      .sub_title {
        max-width: 85%;
      }

      .t3 {
        text-align: start;
        font-size: 1.7rem;
      }
    }

    .budget_calculator {
      .buttons {
        width: 130%;
      }
    }
  }
}
@media (max-width: 600px) {
  #budget {
    margin-top: 7.5rem;
    height: auto;
    max-height: initial;
    gap: 0rem;
    margin-bottom: 4rem;
    display: flex !important;
    flex-direction: column-reverse;

    img {
      height: 2.6rem;
    }

    .t3 {
      text-align: center;
      max-width: 90%;
      margin: 2.6rem 0 2rem 0;
    }

    .info_mobile {
      margin-top: 0rem;
      height: auto;
      border-radius: 30px;


      .options {
        width: 100%;
        gap: 0.7rem;

        .option {
          border-radius: 20px;
          background: $sub_accent_color;
          align-items: center;
          padding: 1rem 1.6rem;

          img {
            margin-right: 0.7rem;
          }
        }
      }


    }

    .budget_calculator {
      margin: 0 0 2rem;
      border-radius: 15px;
      padding: 3rem 1.6rem;

      .buttons {
        margin-bottom: 0;


        .budget_button label {
          border-radius: 15px;
          padding: 0.75rem 0;
        }
      }

      .price {
        gap: 1rem;
        width: 100%;

        .text {
          background: #A750E3;
          border-radius: 15px;
          width: 100%;
          padding: 1rem 0;
          gap: 0.5rem;
          .number {
            font-size: 2rem;
            letter-spacing: -0.02em;
            font-weight: normal;
          }
        }

        .first_month {
          margin: 0 0 0 0.5rem;
          font-size: 0.9rem;
          color: $comment_color;
          font-weight: 500;
        }
      }

      .pipe{
        display: none;
      }

      .sub_title {
        color: $comment_color;
      }
    }
  }
}
