@import "../../../../assets/styles/variable";

#faq {
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  background: $sub_accent_color;
  border-radius: 30px;
  gap: 2.5rem;

  img {
    width: 10rem;
    height: 2.2rem;
  }

  .questions {
    gap: 1rem;
    width: 100%;
  }
}

.main_question_block {
  background: $sub_die_color;
  padding: 0 2rem;
  min-height: 5.1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.05s all;


  .q {
    padding-top: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      top: 2rem;
      font-size: 1rem;
    }

    .expand_btn {
      position: relative;
      background: $accent_color;
      border-radius: 50%;
      min-width: 2.2rem;
      min-height: 2.2rem;
    }

    .arrow {
      max-width: 0.8rem;
      max-height: 0.8rem;
      transition: 0.2s ease-in-out;
    }
  }

  .a {
    opacity: 0;
    position: absolute;
    color: $accent_color;
    max-width: 80%;
    padding: 1rem 0 2rem 0;
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  #faq {
    padding: 2.6rem 2rem;
    background: $sub_accent_color;
    border-radius: 15px;
    gap: 2.5rem;

    .questions {
      gap: 0.7rem;
    }
  }

  .main_question_block {
    padding: 0 1rem;
    border-radius: 15px;

    .q {
      .text {
        max-width: 85%;
      }

      .expand_btn {
        width: 2rem;
        height: 2rem;
      }

      .arrow {
        max-width: 0.6rem;
        max-height: 0.6rem;
      }
    }
    .a{
      max-width: 82%;
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 600px) {
  #faq {
    padding: 2.6rem 1rem;
  }
}
