@import "../../assets/styles/variable";

#faq_page {
  align-items: center;

  .t1 {
    text-align: center;
  }

  .buttons {
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .filter_button {
    display: inline-block;
    font-size: 1rem;
  }

  .filter_button input[type=radio] {
    display: none;
  }

  .filter_button label {
    display: inline-block;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border: 3px solid $dark_text;
    border-radius: 2.5rem;
    user-select: none;
  }

  .filter_button input[type=radio]:checked + label {
    background: $dark_text;
    color: $bg_color;
    pointer-events: none;
  }

  .filter_button label:hover {
    //background-color: $sub_accent_color;
    background-color: $accent_color;
    border-color: $accent_color;
    color: $light_text;
  }

  .question_container {
    gap: 2rem;
  }

  .arrow_text {
    gap: 0.5rem;
    cursor: pointer;

    .arrow {
      height: 2.5rem;
    }
  }

  #help_block {
    width: 100%;
    margin: auto auto 2rem;

    .left_block {
      border-radius: 20px;
      background: $sub_accent_color;
      gap: 2.5rem;
      align-items: center;
      padding: 6rem 7rem;
      max-height: $max_height;
      justify-content: center;
    }

    div {
      color: $accent_color;
      text-align: center;

      .tablet_json {
        display: none;
      }

      .json_container__absolute {
        right: -10rem;
        left: auto;
        transform: scale(1);
      }
    }

    .text {
      max-width: 70%;
    }
  }
}

.question_block {
  background: $accent_color;
  border-radius: 1.5rem;
  gap: 1rem;
  padding: 3.5rem 5rem;

  .q {
    color: $light_text;
  }

  .a {
    font-weight: lighter;
    color: $light_text;
    max-width: 80%;

    li {
      color: $light_text;
      margin-left: 0.5rem;
    }

    b {
      color: $light_text;
    }
  }
}

@media (max-width: 775px) {
  #faq_page {
    .question_container {
      gap: 0.7rem;

      .question_block {
        padding: 2rem 1.7rem;

        .a {
          max-width: 90%;
        }
      }
    }

    #help_block {
      display: flex;

      .desktop_megaphone {
        display: none;
      }

      .left_block {
        gap: 2.5rem;
        align-items: center;
        padding: 4rem 2rem;
      }

      div {
        color: $accent_color;
        text-align: center;

        .tablet_json {
          display: block;

          .json_container__absolute {
            transform: scale(1.2);
          }
        }

      }

      .text {
        max-width: 70%;
      }
    }
  }
}

@media (min-width: 775px) and (max-width: 1400px){
  #faq_page #help_block .left_block{
    padding: 3rem 1rem;
  }
}
