@import "../../../assets/styles/variable";

#header {
  max-width: $max-width;
  width: $width;
  padding: 0 12.5vw;
  gap: 1rem;
  background: rgba(248, 239, 255, 0.8);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  //position: fixed;
  transition: top 0.3s;
  z-index: 10000;

  button {
    border: 2px solid $accent_color;
    border-radius: 116px;
    padding: 0.5rem 0;
    width: 8.5rem;
  }

  .claim{
    background: transparent;
  }
  .get_started{
    background: $accent_color;
    color: $bg_color;
    font-weight: lighter;
  }
}
