@import "../../../../assets/styles/variable";

#intro {
  display: grid;
  margin-top: 6.5rem;
  margin-bottom: 8.5rem;
  max-height: 40rem;
  grid-template-columns: 60% 40%;

  .info {
    gap: 1.5rem;

    .content {
      color: #8A7997;
      max-width: 65%;
    }

    .mobile_reverse_column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .links {
      gap: 0.5rem;
      margin-bottom: 2.8rem;

      img {
        height: 2.5rem;
      }

    }

    button {
      height: 3.2rem;
      width: 11.5rem;
      color: $light_text;
      background: $accent_color;
      border: none;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 116px;
      position: relative;

      .intro_arrow {
        position: absolute;
        left: 1.5rem;
      }
    }
  }

  .intro_json {
    margin-top: -1.5rem;
  }
}

@media (min-width: 1201px) and(max-width: 1330px) {
  #intro {
    .info {
      .t1 {
        font-size: 4rem;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  #intro {
    margin: 6.5rem 2rem 8.5rem;
    .info {
      .content {
        font-size: 0.8rem;
      }
    }
    .intro_json {
      margin-top: -5vw;
    }
  }
}

@media (max-width: 600px) {
  #intro {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    min-height: 90vh;
    margin: 0;
    padding-top: 10vh;

    .info {
      margin-top: 1.5rem;
      gap: 1.5rem;

      .t1 {
        text-align: center;
        padding: 0 2rem;
      }

      .mobile_reverse_column {
        flex-direction: column-reverse;
        align-items: center;
      }

      .content {
        text-align: center;
        max-width: 90%;
        color: $dark_text;
      }

      button {
        margin: auto;
        border-radius: 15px;
      }
    }

    .intro_json {
      min-height: 20vh;
    }
  }
}
