@import "../../../../assets/styles/variable";

.first_block {
  background: $accent_color;
  border-radius: 30px;
  padding: 5rem 5rem;
  gap: 2.5rem;
  align-items: center;

  img {
    height: 3.5rem;
  }

  .content {
    color: $light_text;
  }

  img {
    cursor: pointer;
    height: 2.5rem;
  }
}

.second_block {
  margin-top: 6rem;

  .title {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .facts {
    gap: 2rem;
    justify-content: center;

    .fact {
      background: $sub_accent_color;
      border-radius: 30px;
      width: 33%;
      padding: 0 2rem;
      height: 22rem;
      justify-content: center;

      .stat {
        font-family: 'Nanum Myeongjo';
        font-style: normal;
        font-weight: 400;
        font-size: 5.5rem;
        line-height: 7.5rem;
        text-align: center;
        letter-spacing: -0.02em;
        color: $accent_color;
      }

      .text {
        line-height: 125%;
        text-align: center;
      }
    }
  }
}

.third_block {
  height: 90vh;
  max-height: $max_height;
  padding: 0 7rem;
  background: $accent_color;
  border-radius: 30px;

  .info {
    margin: auto auto auto 0;

    .title {
      color: $light_text;
      margin-bottom: 2.5rem;
      text-align: center;
    }

    .sub_title {
      color: $light_text;
      font-weight: 400;
      text-align: center;
      font-size: 1rem;
    }
  }

  .options {
    gap: 1rem;
    margin: auto;

    .option {
      gap: 1.8rem;
      background: $die_color;
      border-radius: 30px;
      padding: 1rem 2.2rem;

      img {
        height: 3rem;
      }

      .links {
        margin-top: 0.9rem;
        gap: 0.75rem;

        img {
          height: 2rem;
        }
      }

      .text {
        color: $light_text;
        max-width: 75%;
        font-weight: 400;
        font-size: 1rem;

        b {
          color: $light_text;
          font-weight: bolder;
          line-height: 80%;
          font-size: 0.8rem;
        }
      }

    }
  }
}

.fourth_block {
  height: 100vh;
  max-height: $max_height;
  position: relative;

  .content {
    margin: auto;
    gap: 2.5rem;

    .sub_title {
      line-height: 125%;
      max-width: 60%;
    }
  }

  .man_gif {
    //background: #BC6CF3;
    margin-top: 5rem;
    width: 80%;
  }
}

.fifth_block {
  min-height: 90vh;
  max-height: $max_height;
  padding: 0 7rem;
  background: $sub_accent_color;
  border-radius: 30px;

  .info {
    margin: auto;
    gap: 2rem;
    align-items: center;

    .title {
      color: $accent_color;
      text-align: center;

      span {
        white-space: nowrap;
      }
    }

    .option {
      background-color: $sub_die_color;
      border-radius: 30px;
      gap: 1rem;
      height: 7rem;
      padding: 0 2.3rem;

      .number {
        min-width: 2.5rem;
        min-height: 2.5rem;
        border-radius: 30px;
        background-color: $die_color;
        display: flex;
        position: relative;

        div {
          color: $light_text;
        }
      }

      .text {
        font-size: 0.9rem;
        line-height: 125%;
        max-width: 85%;

        b {
          font-size: 0.8rem;
          font-weight: bolder;
        }
      }
    }

    .arrow {
      width: 10rem;
      height: 2.5rem;
      cursor: pointer;
    }
  }

  .phone_img {
    margin: auto 0 auto auto;
    height: 38rem;
  }
}

.seventh_block {
  padding: 5rem 5rem;
  gap: 2.5rem;
  background: $sub_accent_color;
  border-radius: 30px;
  align-items: center;
  justify-content: center;


  .text {
    color: $accent_color;
  }

  img {
    cursor: pointer;
    width: 10rem;
  }
}
