$bg_color: #F8EFFF;
$accent_color: #983FD6;
$sub_accent_color: #EED7FF;
$die_color: #BC6CF3;
$sub_die_color: #E2B8FE;
$comment_color: #D09EF8;

$dark_text: #453551;
$light_text: #F8EFFF;

$max_height: 44rem;
$max-width: 1260px;
$width: 85vw;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nanum+Myeongjo:wght@400;700&display=swap');
