@import "../../assets/styles/variable";

#not_found_page {
  justify-content: center;
  height: 90vh;

  .error {
    align-items: center;
  }

  .gif {
    top: -12rem;
  }
}

@media (max-width: 750px) {
  #not_found_page {
    .gif {
      top: 0;
    }
    .grid_container__halved {
      margin-bottom: 20rem;
      display: flex;
      flex-direction: column;
    }
  }
}
